@use "./partials/var.scss" as *;
@use "./partials/reset.scss" as *;
@use "./partials/fonts.scss" as *;
@use "./partials/base.scss" as *;
@use "./partials/header.scss" as *;
@use "./partials/footer.scss" as *;
@use "./partials/layout.scss" as *;
